@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
font-family: "Norse";
src: url("/files/Norse-Bold.woff") format("woff");
font-weight: normal;
font-style: normal;
}

:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
      
}
body{
    height:100vh;
    background:hsl(0, 0%, 98%);
}
.image-div{
    background-image:url('/files/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height:100%;
}

.input-elem input {
    border:2px solid #E5E7EB;
    border-radius:.25rem;
    padding-inline:5px;
    padding-block:1px;
    width:100%;
    font-size:1.2rem;
    margin:c
}

.input-elem{
    grid-template-columns: 30ch 30ch;
    gap:20px 50px;
}
section label {
    display:block;
    font-family:'Courier New', Courier, monospace;
    text-transform:uppercase ;
    font-weight:bold;
    letter-spacing: 1px;
}


.main-elem {
    box-shadow: 0 2px 8px -2px rgb(195, 195, 195);
}

.input-elem input:focus {
    outline:none;
    border: 2px solid hsl(240, 100%, 70%);
    box-shadow: 0px 2px 11px -1px rgba(0,0,0,0.75);;

}

.form-control{
    position: relative;
}

.form-control.success input {
    border-color: var(--success-color);
  }

.form-control.error input {
    border-color: var(--error-color);
    margin-bottom:20px;
  }

.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }

  .form-control.error small {
    visibility: visible;
  }
 