@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
font-family: "Norse";
src: url("/files/Norse-Bold.woff") format("woff");
font-weight: normal;
font-style: normal;
}
body{
    height:100vh;
}
.image-div{
    background-image:url('/files/halie-west-25xggax4bSA-unsplash.jpg');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .form-elem p {
    max-width: 52ch;
} */

.form-elem span {
    font-style: italic;
}

.input-elem input {
    outline:1px solid black;
    /* width:100%; */
}

.input-elem{
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    justify-items: space-between;
}

.input-elem label{
    display: block;
}

section div {
    outline: 1px solid red;
    /* width:200px; */
}